# EMAILJS Configuration (Get these from https://dashboard.emailjs.com/)
VITE_EMAILJS_SERVICE_ID="service_aqnjk3s"
VITE_EMAILJS_TEMPLATE_ID="your_template_id"
VITE_EMAILJS_PUBLIC_KEY="EUhx-PpPJ82dbCE_9"
